<figure class="card">
  <div class="card__emoji">{%IMAGE%}{%IMAGE%}</div>
  <div class="card__title-box">
    <h2 class="card__title">{%ANIMALNAME%}</h2>
  </div>

  <div class="card__details">
    <div class="card__detail-box {%NOT_ENDANGERED%}">
      <h6 class="card__detail card__detail--endangered">Endangered!</h6>
    </div>

    <div class="card__detail-box">
      <h6 class="card__detail">{%QUANTITY%}</h6>
    </div>

    <div class="card__detail-box">
      <h6 class="card__detail card__detail--lifespan">{%LIFESPAN%}</h6>
    </div>
  </div>

  <a class="card__link" href="/animal?id={%ID%}">
    <span>Detail <i class="emoji-right">👉</i></span>
  </a>
</figure>
